
**/bin/packages/
**/bin/targets/qualcommax/ipq807x/packages/
**/bin/targets/qualcommax/ipq807x/*.bin
**/bin/targets/qualcommax/ipq807x/*.itb
**/bin/targets/qualcommax/ipq807x/*.ubi
**/build_dir/
**/dl/
**/feeds/
**/staging_dir/
**/toolchain/
**/tmp/
**/.vscode/
**/.devcontainer/
**/*.swp
**/*.bak
**/.DS_Store
**/.config.OLD
**/.full_config
**/build.log
**/feeds.conf.default
