**/bin/packages/
**/bin/targets/qualcommax/ipq807x/packages/
**/bin/targets/qualcommax/ipq807x/*.bin
**/bin/targets/qualcommax/ipq807x/*.itb
**/bin/targets/qualcommax/ipq807x/*.ubi
**/build_dir/
**/dl/
**/feeds/
**/staging_dir/
**/toolchain/
**/tmp/
**/.vscode/
**/.devcontainer/
**/*.swp
**/*.bak
**/.DS_Store
**/.config.OLD
**/.full_config
**/build.log
**/feeds.conf.default
*.o
.DS_Store
.*.swp
/env
/dl
/.toolchain_build_ver
/00_01_Cambios_Realizados
/00_02_debugging
/bin
/build_dir
/build_logs
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/target/linux/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
private-key.pem
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*

